---
import Section from "./Section.astro";

---

<Section title="Solar Panels" subtitle="Schedule a Virtual Consultation" color="black">
    <div slot="buttons" class="flex gap-6 justify-center">
        <a href="/" class='transition-all backdrop-blur-3xl hover:bg-black bg-[#3C3B3F] text-sm rounded font-medium text-white px-12 py-2 scroll'>
            Ordenar ahora
        </a>
        <a href="/" class='flex items-center text-black hover:bg-black hover:text-white transition-all bg-white text-sm rounded font-medium px-12 py-2'>
            Vea mas
        </a>
    </div>
    <img slot="background" src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/425_HP_SolarPanels_D" alt="Charge">
</Section>