---
import Section from "./Section.astro";

---

<Section title="Model 3" subtitle="Lease starting at $329/mo*" color="white">
    <div slot="buttons" class="flex gap-6 justify-center">
        <a href="/" class='transition-all backdrop-blur-3xl hover:bg-black bg-[#3C3B3F] text-sm rounded font-medium text-white px-12 py-2 scroll'>
            Ordenar ahora
        </a>
        <a href="/" class='flex items-center text-black hover:bg-black hover:text-white transition-all bg-white text-sm rounded font-medium px-12 py-2'>
            Demo drive
        </a>
    </div>
    <img slot="background" src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-NA.jpg" alt="Model 3">
</Section>